.background-ground {
    background-image: url("https://www.plata.ie/images/background02.jpg");
    background-color: #cccccc;
    width: 100%;
    background-size: cover;
    height: 680px;
}

.tb-token {
    border-collapse: collapse;
    color: white;
    width: 100%;
}

.tb-subtitle {
    width: 100%;
    text-align: center;
    display: none;
    font-size: 22px;
    font-family: 'Montserrat';
    color: black;
}

#radio-2024:checked~.background-ground .token-title-2024,
#radio-2023:checked~.background-ground .token-title-2023,
#radio-nft:checked~.background-ground .token-title-nft,
#radio-2022:checked~.background-ground .token-title-2022 {
    display: table;
}

.line-column-border {
    border-collapse: collapse;
    color: white;
}

.td-tb-info {
    text-align: left;
    color: white;
    padding-left: 15px;
}

.td-info-top {
    border-top: none;
}

.td-info-left {
    border-left: none;
}

.color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.a-list {
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 6px 12px;
    color: white;
}

.tb-info {
    display: none;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(105, 105, 105, 0.50);
    height: 364px;
    border-collapse: collapse;
    overflow: hidden;
    padding: 10px;
}

#radio-2024:checked~.background-ground .token-list-2024,
#radio-2023:checked~.background-ground .token-list-2023,
#radio-nft:checked~.background-ground .token-list-nft,
#radio-2022:checked~.background-ground .token-list-2022 {
    display: flex;
}

.td-token-column {
    padding-left: 20px;
    width: 50%;
    padding: 1px;
    border-radius: 5%;
    padding-left: 20px;
}

.td-token-split {
    text-align: center;
}

.split-table {
    display: none;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#radio-2024:checked~.background-ground .donut-2024,
#radio-2023:checked~.background-ground .graph-view-2023,
#radio-nft:checked~.background-ground .graph-view-nft,
#radio-2022:checked~.background-ground .graph-view-2022 {
    display: table;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}

.split-table-buttons {
    width: 40px;
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.tdwid {
    width: 100px;
}

.button-year {
    width: 95px;
    height: 40px;
    display: block;
    background-color: #6E46AE;
    border-radius: 6px;
    border: 0px solid #3D3D3D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Montserrat';
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.button-year:hover {
    background-color: #8247E5 !important;
    border-radius: 6px !important;
    color: white !important;
    transition: 0.3s !important;
}

.radio-inv:not(:checked)~.background-ground .label-2024,
.radio-inv:not(:checked)~.background-ground .label-2023,
.radio-inv:not(:checked)~.background-ground .label-nft,
.radio-inv:not(:checked)~.background-ground .label-2022 {
    background-color: #EBECF0;
    color: #5A5A5A;
}

#radio-2024:checked~.background-ground .label-2024,
#radio-2023:checked~.background-ground .label-2023,
#radio-nft:checked~.background-ground .label-nft,
#radio-2022:checked~.background-ground .label-2022 {
    background-color: #6E46AE;
    color: white;
}


.donut {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
}

.donut.inative {
    display: none;
}

.donut-white {
    width: calc(100% - 90px);
    height: calc(100% - 90px);
    border-radius: 50%;
    background: #e1e6ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.td-suply {
    text-align: center;
    padding: 30px;
}

.gray-button {
    display: inline-block;
    background-color: #5A5A5A;
    border-radius: 8px;
    border: 0px solid #3D3D3D;
    font-size: 13px;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 6px 12px;
    color: white;
}

.tb-typofx {
    font-size: 22px;
    font-family: 'Montserrat';
    color: rgb(110, 70, 174);
}

.radio-inv {
    display: none;
}