body {
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    width: 100%;
    background: linear-gradient(to top left, #c3cbdc, #eceff4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Montserrat';
}

.token-title {
    font-size: 22px;
    margin-top: -25px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    display: none;
}

#radio-2024:checked ~ .main-content .token-title-2024,
#radio-2023:checked ~ .main-content .token-title-2023,
#radio-nft:checked ~ .main-content .token-title-nft,
#radio-2022:checked ~ .main-content .token-title-2022 {
    display: block;
}

.graph-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    background-color: #5a5a5a;
    color: white;
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
}

.split-tables {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
    margin: 10px;

}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.token-list {
    margin-left: 10px;
    display: none;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px;
    height: 330px;
    width: 620px;
    border-radius: 10px;
    background-color: #9a9ea5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-direction: column; 
}

.token-item {
    display: block;
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Montserrat';
    color: white;
}

#radio-2024:checked ~ .main-content .token-list-2024,
#radio-2023:checked ~ .main-content .token-list-2023,
#radio-nft:checked ~ .main-content .token-list-nft,
#radio-2022:checked ~ .main-content .token-list-2022 {
    display: flex;
}


.color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.buttons-content {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 50px;
}

.button {
    width: 95px;
    height: 40px;
    margin-right: 2px;
    background-color: #6E46AE;
    border-radius: 6px;
    border: 0px solid #3D3D3D;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Montserrat';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #8247E5 !important;
    color: white !important;
}


.radio-inv:not(:checked) ~ .main-content .label-2024,
.radio-inv:not(:checked) ~ .main-content .label-2023,
.radio-inv:not(:checked) ~ .main-content .label-nft,
.radio-inv:not(:checked) ~ .main-content .label-2022 {
    background-color: #EBECF0;
    color: #5A5A5A;
}

#radio-2024:checked ~ .main-content .label-2024,
#radio-2023:checked ~ .main-content .label-2023,
#radio-nft:checked ~ .main-content .label-nft,
#radio-2022:checked ~ .main-content .label-2022 {
    background-color: #6E46AE;
    color: white;
}

.typo-fx {
    margin: auto;
    color: #9a9ea5;
    font-size: 24px;
    font-family: 'Montserrat';
}

.donut {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.donut.inative {
    display: none;
}

.donut-white {
    width: calc(100% - 90px);
    height: calc(100% - 90px);
    border-radius: 50%;
    background: #dce1eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.donut,
.graph-view {
    display: none;
}

#radio-2024:checked ~ .main-content .donut-2024,
#radio-2023:checked ~ .main-content .graph-view-2023,
#radio-nft:checked ~ .main-content .graph-view-nft,
#radio-2022:checked ~ .main-content .graph-view-2022 {
    display: block;
}

.buttons-content {
    display: flex;
    gap: 10px;
}

.radio-inv {
    display: none;
}

img {
    width: 350px;
}
