body {
    background-image: linear-gradient(to right, rgb(33, 32, 32) , #595858);
    font-family: 'Montserrat', sans-serif;
    font: white;
}

.tb-token {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    color: white;
    width: 100%;
} 

.line-column-border {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    color: white;
}

.tb-title {
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
}

.td-token-split {
    text-align: center;
}

.td-token-column{
    width: 50%;
    padding: 10px;
    border-radius: 5%;
}

.tb-token-split {
    width: 100%;
}

.td-tb-info {
    text-align: center;
    border: 1px solid whitesmoke;
    border-width: 100%;
    color: white;
}

.td-info-top{
    border-top: none;
}
.td-info-bottom{
    border-bottom: none;
}
.td-info-left{
    border-left: none;
}
.td-info-right{
    border-right: none;
}

.tb-info {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(30, 30, 31, 0.964);
    height: 300px;
    border-collapse: collapse;
    overflow: hidden;
}

.td-suply {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
}

.td-typo-fx {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* APARTIR DAQUI CSS SPLIT*/

.split-table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.split-table-buttons {
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.invisibled {
    display: none;
}

.tdwid {
    width: 32%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.button-year {
    width: 50%;
    height: 50px;
    display: block;
    background-color: #6E46AE;
    border-radius: 6px; 
    border: 0px solid #3D3D3D;
    color: white; 
    font-size: 18px; 
    cursor: pointer; 
    transition: 0.3s; 
    font-family: 'Montserrat';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-year:hover {
    background-color: #8247E5;
    border-radius: 6px; 
    color: white;
    transition: 0.3s;
}

.inative {
    background-color: #EBECF0;
    color: black;
}

.inative-darkmode {
    background-color: #3A3B3C;
    color: white;
}
